body {
  font-family : 'Roboto', sans-serif;
}
td, th {
  padding : 14px;
  text-align : center;
}

td {
  color : rgba(0,0,0,0.87);
}

th {
  text-align : center;
  font-size : 0.88em;
  color : rgba(0,0,0,0.54);
}

.main-header-btn-group {
  padding : 8px;
}

.main-content {
}

.cal-container {
  padding : 0px;
}

.cal-head {
  text-align    : center;
  margin-bottom : 8px;
}

.cal-head-ctrl.back {
  float : left;
  margin-left : 16px;
  cursor : pointer;
}

.cal-head-ctrl.next {
  float : right;
  margin-right : 16px;
  cursor : pointer;
}

.cal-table {
  width  : 100%;
  margin : 0px;
}

.cal-cell {
  cursor : pointer;
}

.cal-cell.selected {
  background : #3D5AFE;
  width : 32px;
  height : 32px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color : #fff;
}

.avtr {
  width  : 56px;
  margin : 4px;
}

.panel-body {
  max-height: 400px;
  overflow-y: scroll;
}

.caret.left {
  margin-right: 8px;
}

/* Google Material icons */
.material-icons.md-dark { 
  color: rgba(0, 0, 0, 0.54);
}
